body{
  color:#E9E9E2;
  background-color:#16161D;
}

.heading{
  text-align: center;
  padding: 5% 15%;
}

.heading h1 a{
  font-family: 'Bebas Neue';
  font-size: 3.5rem;
  text-decoration: none;
  color:#E9E9E2;
}

.heading h1{
  font-family: 'Playfair Display';
}


.heading h2 {
  font-family: 'Poppins';
}

#name{
  font-size: 4.0rem;
}

#hello {
  font-family: 'Bebas Neue';
  font-size: 3.0rem;
}

#job {
  font-size: 3.5rem;
}

.selected-nav {
  background-color:#16161D;
}

.selected-nav a{
  font-family: 'Poppins';
  font-size: 1.5rem;
  padding: 3% 15%;
  color:#E9E9E2;
}
